* {
    margin: 0;
    padding: 0;
}
#container {
    width: 500px;
    height: 400px;
    background-color: #2e424d;
    position: relative;
}

#box {
    width: 20px;
    height: 20px;
    background-color: #5b8291;
    position: absolute;
}